body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica Neue, Helvetica, Segoe UI, Arial, Noto Sans, Liberation Sans, system-ui, -apple-system, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
    background-color: #38a8ae;
    display: flexbox;
    position: fixed;
    z-index: +1;
    justify-content: center;
}

.navbar{
    max-width: 75%;
    padding: auto;
    margin: auto;
}

a {color: #226669;}

a:hover {color:black;}

.nav-link:hover {
    color: #226669;
    box-shadow: #226669;
}

h1 {
    color: white;
    margin-bottom: 0.5em;
}

h2 {
    color: black;
}

h3 {
    color: white;
}

h4 {
    color: white;
}
h6 {
    font-size: small;
}

.nav-item:hover {
    color: white;
}

.svg-icon path {
    fill: #226669
}

footer {

    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}

.btn-login {
    background-color: #226669;
    /* Cambia el color de fondo */
    border-color: white;
    border-radius: 8px;
    /* Cambia el color del borde */
    color: white;
    /* Cambia el color del texto */
    padding: 1rem;
    margin: auto;
    margin-right: 1rem;
}

.btn-login:hover {
    background-color: #09abb300;
    /* Cambia el color de fondo al pasar el cursor sobre el botón */
    border-color: #226669;
    /* Cambia el color del borde al pasar el cursor sobre el botón */
    color: #226669;
    /* Cambia el color del texto al pasar el cursor sobre el botón */
}

.btn {
    background-color: #226669;
    /* Cambia el color de fondo */
    border-color: white;
    /* Cambia el color del borde */
    color: white;
    /* Cambia el color del texto */
    padding: 0.5rem;
}

.btn:hover {
    background-color: #09abb300;
    /* Cambia el color de fondo al pasar el cursor sobre el botón */
    border-color: #226669;
    /* Cambia el color del borde al pasar el cursor sobre el botón */
    color: #226669;
    /* Cambia el color del texto al pasar el cursor sobre el botón */
    text-shadow: #226669;
}

.link {
    color: white;
    background-color: #226669;
    /* Cambia el color de fondo */
    border-color: white;
    border-radius: 8px;
    padding: 0.5rem;
}

.link:hover {
    color: #226669;
    background-color: rgb(255, 255, 255);
    /* Cambia el color de fondo */
    border-color: #226669;
}

a:hover{
    color: #3eb9bf;
}

form {
    padding: 2rem;
    max-width: 35rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border: 1px solid #226669;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.409);
}

select {
    color: gray;
    border-radius: 1ch;
    border: 1px solid #226669;
    padding: 0.4rem;
    width: 15rem;
}

/* Estilos para las tarjetas de servicio */
.card {
    border: 1px solid #226669;
    border-radius: 8px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 75%;
    margin: auto;
}

.card-body {
    border: 1px solid #226669;
    border-radius: 8px;
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-text {
    margin-bottom: 1em;
}

#servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    gap: 1rem;
    /* Espacio entre las tarjetas */
    margin-top: 2rem;
}

.serviceSection {
    margin-top: 6rem;
    margin-bottom: 6rem;
    justify-items: center;
}

.imgBackground{
    position: fixed;
    z-index: -1;
    bottom: 0;
}
.loginSection{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#loginForm {
    background-color: #ffffff;
    border: 1px solid #226669;
    border-radius: 8px;
    width: auto;
    height: auto;
    max-width: 25rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.409);
}
.infoSection{
    justify-content: space-between;
    padding: 12rem;
    min-width: 75%;
}

.infoCard{
    padding: 1rem;
    border: 1px solid #226669;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    width: 18rem;
    font-size: 0.8rem;
    margin:auto;
}

.infoCard .media-body{
    text-align: justify;
    padding: 1em;
}

.infoCard .svg-icon path{
    fill: #226669;
}

.section__inner {
    max-width: 1015px;
    padding: 20px;
    margin: auto;
}

.lead {
    margin: auto;
}


